.login_form {
    width: 300px;
}

.allData {
    margin: 80px;
}

.coll_name{
    width: 200px;
    margin-bottom: 50px;
}

.logout{
    margin-bottom: 50px;
}

.newOrder {
    margin-bottom: 50px;
    text-align: center;
}

.chkBox {
    margin-right: 5px;
}
